# My Exercises

$$\pi = 2 \times \rho $$

even if you don't know Latex or markdown, you can use this cells to document your code

In [2]:
a = 6.71
b = 0.0564
n = 0.5
V = 5
T = 298.15
p = n*0.0821*T / ( V - n*b ) - n**2*a / V**2
print(p)

2.394595462407981

In [6]:
import math as m
radius = 3
vol = 4*m.pi*radius**3 / 3
surf = 4*m.pi*radius**2
print(vol,surf)

113.09733552923255 113.09733552923255

In [7]:
a = str(4.5432)
a

'4.5432'

In [8]:
print(a)

4.5432

In [9]:
type(a)

str

In [10]:
a+6

TypeError: must be str, not int

In [11]:
line1 ='Melting...'
line2 = 'at 1 atm'
line = line1+line2

In [12]:
len(line)== len(line1+line2)

True

In [13]:
line.replace("atm", "bar")

'Melting...at 1 bar'

In [14]:
line

'Melting...at 1 atm'

In [15]:
line= line.replace("atm","bar")

In [16]:
line

'Melting...at 1 bar'

In [17]:
line.split()

['Melting...at', '1', 'bar']

In [18]:
line = "Total Energy = 123.432 hatrees"

In [19]:
line.split()

['Total', 'Energy', '=', '123.432', 'hatrees']

In [21]:
line.index('e')

8

In [22]:
%run myscript.py

ERROR:root:File `'myscript.py'` not found.

In [23]:
pwd

'/Users/fermin/Dropbox/Python_DiplomaExtensioUniversitaria/2018/ICIQ/material/notebooks'

In [24]:
cd ..

/Users/fermin/Dropbox/Python_DiplomaExtensioUniversitaria/2018/ICIQ/material

In [25]:
cd

/Users/fermin

In [32]:
%run myscript.py

2.394595462407981

Define the DNA sequence:

In [33]:
dna = """tgaattctatgaatggactgtccccaaagaagtaggacccactaatgcagatcctgga
    tccctagctaagatgtattattctgctgtgaattcgatcccactaaagat"""

In [54]:
dna

'tgaattctatgaatggactgtccccaaagaagtaggacccactaatgcagatcctgga\n    tccctagctaagatgtattattctgctgtgaattcgatcccactaaagat'

In [53]:
print(dna)

tgaattctatgaatggactgtccccaaagaagtaggacccactaatgcagatcctgga
    tccctagctaagatgtattattctgctgtgaattcgatcccactaaagat

The two cases we will be looking for:

In [46]:
EcoRI = "GAATTC"
BamHI = "GGATCC"

How many times is EcoRI found in the sequence?

In [55]:
n_EcoRI = dna.count(EcoRI.lower())
print("Found {} occurences of EcoRI ({})".format(n_EcoRI, EcoRI))

Found 2 occurences of EcoRI (GAATTC)

In [60]:
print("I found EcoRI {} times".format(n_EcoRI))

I found EcoRI 2 times

Finding the positions of each sequence!

In [61]:
i1 = dna.upper().find(EcoRI)
print("EcoRI is found in position {}".format(i1))
print("Sequence {} ".format(dna[1:7]))

EcoRI is found in position 1
Sequence gaattc

In [64]:
i2 = dna.upper()[i1+1:].find("GAATTC")+i1
print("Codon is in position {}".format(i2))
print("Sequence {} ".format(dna[i2:i2+len(EcoRI)]))

Codon is in position 91
Sequence tgaatt

In [65]:
n_BamHI = dna.upper().count(BamHI)
print("Found {} occurences of EcoRI ({})".format(n_BamHI, BamHI))

Found 0 occurences of EcoRI (GGATCC)

In [66]:
dna1 = dna.replace("\n","")

In [67]:
dna1

'tgaattctatgaatggactgtccccaaagaagtaggacccactaatgcagatcctgga    tccctagctaagatgtattattctgctgtgaattcgatcccactaaagat'

In [68]:
print(dna1)

tgaattctatgaatggactgtccccaaagaagtaggacccactaatgcagatcctgga    tccctagctaagatgtattattctgctgtgaattcgatcccactaaagat

In [73]:
dna1.upper().count(BamHI)

1

In [71]:
dna1 = dna1.replace(' ','')

In [72]:
print(dna1)

tgaattctatgaatggactgtccccaaagaagtaggacccactaatgcagatcctggatccctagctaagatgtattattctgctgtgaattcgatcccactaaagat

In [77]:
first = [2,4,6,8,10]
second = ['one','two','three']
fourth =[2, "two", first]
fourth

[2, 'two', [2, 4, 6, 8, 10]]

In [84]:
fourth[-1]

[2, 4, 6, 8, 10]

In [85]:
fourth[-1][1]

4

In [86]:
import math

In [87]:
m = math

In [89]:
m.sqrt(45)

6.708203932499369

In [90]:
3*second

['one', 'two', 'three', 'one', 'two', 'three', 'one', 'two', 'three']

In [93]:
languages = ['Python', 'C', 'C++', 'Java', 'Perl']

In [94]:
'e' in languages[-1]

True

In [95]:
languages[-2].count('a')

2

In [98]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [105]:
a = list(range(10))
a.sort(reverse=True)
a.append(-5)
a.pop()
a.pop(2)

7

In [106]:
a.index(5)

3

In [107]:
a

[9, 8, 6, 5, 4, 3, 2, 1, 0]

In [109]:
age = input("How old are you?")

In [110]:
name = input("Nice being {}, where do you live".format(age))

In [114]:
age >= 18

True

In [112]:
type(age)

str

In [113]:
age = int(age)

Code to compute the exponential function according to:
    
$$ e^x = \sum_{i=0}^{n} \frac{x^i}{i!} $$    

The user should introduce:
- The last value of the Series, $n$
- The value of $x$
- Use math.factorial() to simplify your work 
- Compare your result with math.exp()

In [ ]:
import math as m
x = float(input("Value of x: "))
n = int(input("Upper limit of the sum: "))
series = 0
for i in range(XXXX):
    series = series + x**i/m.factorial(i)
print(series)
print("Series (to order {}): {} / Exact: {}".format(series,n,math.exp(x)))

1